{% extends 'base.html.twig' %}

{% block title %}GetMAN{% endblock %}

{% block javascripts %}<script src="{{ asset('scripts/add-collection-widget.js') }}" defer></script>{% endblock %}
{% block body %}

    <div class="d-flex flex-row">
        {% if user != null %}
            <div class="col-3 mt-5">
                <div class="fond-blanc text-center border rounded">
                    <h1 class="mt-4" style="font-size: min(2rem, 2vw);">Historique</h1>
                    {% for request in requests|reverse %}
                        <div class="request border d-flex flex-row flex-wrap justify-content-around break-word">
                            <span style="color: black; font-size: calc(0.75em + 0.15vw);">{{ request.methodType }}</span><span style="font-size: calc(0.75em + 0.15vw);">{{ request.url }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="col-6 justify-self-center mt-5 {% if user == null %}mx-auto{% endif %}">
            <div class="fond-blanc text-center border rounded">
                <h1 class="mt-4">Requête</h1>
                {{ form_start(form) }}
                {{ form_row(form.method, {'label': "Méthode :", 'attr':{'class':'form-control col-6 mx-auto mb-3'}}) }}
                {{ form_row(form.url, {'label': 'URL :', 'attr':{'class':'form-control col-6 mx-auto mb-3'}}) }}
                <div id="paramsdiv">
                    <label for="send_params" class="required">Paramètres :</label>
                    <div id="params-fields-list"
                         data-prototype="{{ form_widget(form.params.vars.prototype)|e }}"
                         data-widget-tags="{{ '<div></div>'|e }}"
                         data-widget-counter="{{ form.params|length }}">
                        {% for paramsField in form.params %}
                            <div>
                                {{ form_errors(paramsField) }}
                                {{ form_widget(paramsField) }}
                            </div>
                        {% endfor %}
                    </div>

                    <button type="button"
                            class="add-another-collection-widget btn btn-primary mb-4"
                            data-list-selector="#params-fields-list">+
                    </button>
                    <button type="button"
                            class="rm-another-collection-widget btn btn-primary mb-4"
                            data-list-selector="#params-fields-list">-
                    </button>
                </div>
                <div id="bodydiv">
                    <label for="send_body" class="required">Body JSON :</label>
                    <div id="body-fields-list"
                         data-prototype="{{ form_widget(form.body.vars.prototype)|e }}"
                         data-widget-tags="{{ '<div></div>'|e }}"
                         data-widget-counter="{{ form.body|length }}">
                        {% for bodyField in form.body %}
                            <div>
                                {{ form_errors(bodyField) }}
                                {{ form_widget(bodyField) }}
                            </div>
                        {% endfor %}
                    </div>

                    <button type="button"
                            class="add-another-collection-widget-body btn btn-primary mb-4"
                            data-list-selector="#body-fields-list">+
                    </button>
                    <button type="button"
                            class="rm-another-collection-widget-body btn btn-primary mb-4"
                            data-list-selector="#body-fields-list">-
                    </button>
                </div>
                <div id="headersdi">
                    <label for="send_headers" class="required">Headers :</label>
                    <div id="headers-fields-list"
                         data-prototype="{{ form_widget(form.headers.vars.prototype)|e }}"
                         data-widget-tags="{{ '<div></div>'|e }}"
                         data-widget-counter="{{ form.headers|length }}">
                        {% for headersField in form.headers %}
                            <div>
                                {{ form_errors(headersField) }}
                                {{ form_widget(headersField) }}
                            </div>
                        {% endfor %}
                    </div>

                    <button type="button"
                            class="add-another-collection-widget-headers btn btn-primary mb-4"
                            data-list-selector="#headers-fields-list">+
                    </button>
                    <button type="button"
                            class="rm-another-collection-widget-headers btn btn-primary mb-4"
                            data-list-selector="#headers-fields-list">-
                    </button>
                </div>
                {{ form_row(form.Send,{'label':'Valider','attr':{'class':'btn btn-primary mb-4'}}) }}
                {{ form_end(form) }}
            </div>
            {% if affichage and result is not empty %}
                <div class="fond-blanc border rounded mt-3">
                    <h1 class="text-center mt-4">Resultat :</h1>
                    {% autoescape false %}
                        <div>{{ result|raw }}</div>
                    {% endautoescape %}
                </div>
            {% endif %}
            {% if TransportError is not empty %}
                <div class="fond-blanc border rounded mt-3 text-center text-danger">
                    {{ TransportError }}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
