<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="{{ asset('scripts/jquery-3.5.1.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous" defer></script>
        <script src="{{ asset('scripts/bootstrap.js') }}" crossorigin="anonymous" defer></script>
        <link rel="stylesheet" href="{{ asset('https://bootswatch.com/4/lux/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('style/styles.css') }}">
        <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js') }}" crossorigin="anonymous" defer></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">GetMAN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                {% if not is_granted('ROLE_USER') %}
                    <li class="nav-item active">
                        <a class="nav-link" href="register"><i class="fas fa-user-plus"></i> Inscription <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="login"><i class="fas fa-user"></i> Connexion <span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="logout"><i class="fas fa-user-slash"></i> Déconnexion <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
